<link rel="stylesheet" type="text/css" href="/static/cart.css">
</head>
<body class="background-pattern">
  <header>
    <h1>Your Cart</h1>
  </header>

  <div class="container">
    {% if cars %}
    <ul>
      {% for car in cars %}
      <li>{{ car.make_model }}</li>
      {% endfor %}
    </ul>

    <form action="{{ url_for('empty_cart') }}" method="POST">
      <button type="submit" class="button">Empty Cart</button>
    </form>
    {% else %}
    <p>Your cart is empty.</p>
    {% endif %}
    <a href="/cars" class="button">Back to Cars</a>
    <p>

      <form action="/logout" method="POST">
        <button type="submit" class="button">Logout</button>
      </form>
    </p>
  </div>
</body>
</html>

